*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    background: rgb(207, 201, 201);
}

div {
    /*border: 1px solid black;*/
    margin: 10px;
}

h1 {
    width: 100%;
}

#screen {
    width: 51%;
    height: 150px;
    background-color: rgb(255, 255, 255);
    text-align: right;
    border: 1px solid black;
}

#screenValue {
    font-size: 80px;
    padding-top: 25px;
}

#buttons {
    width: 51%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#number-buttons{
    /*background: red;*/
    width: 600px;
    height: 1000px;
}

button {
    width: 30%;
    height: 23%;
    margin: 5px;
    padding: 0px;

}

#spacer {
    width: 50px;
}

#operators {
    width: 300px;
    height: 1000px;
    /*background-color: cyan;*/
}

#operators button {
    width: 250px;
    height: 15%;
}

