*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

div {
    border: 1px solid black;
    margin: 10px;
}

.screen {
    width: 100%;
    height: 150px;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.numbers {
    width: 600px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    background-color: linen;
    justify-content: center;
}

.numbers div {
    width: 30%;
    height: 19%;
    margin: 5px;
    padding: 0px;
}


.operators {
    width: 300px;
    height: 1000px;
    background-color: cyan;
}

.operators div {
    width: 250px;
    height: 15%;
}